version: 2
enable-beta-ecosystems: true

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
      timezone: "Europe/London"
    target-branch: "main"
    groups:
      github-actions:
        applies-to: "version-updates"
        patterns:
          - "*"
        exclude-patterns:
          - "JackPlowman/reusable-workflows"
        update-types:
          - "patch"
          - "minor"
    cooldown:
      default-days: 7

  - package-ecosystem: "opentofu"
    directories:
      - "/stack"
      - "/modules/default-branch-protection"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
      timezone: "Europe/London"
    target-branch: "main"
    groups:
      terraform:
        applies-to: "version-updates"
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"