name: "Code Checks"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  checkov-scan:
    name: Checkov Scan
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
      actions: read # Allow the workflow to read actions metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61 # v12.3075.0
        with:
          directory: .
          framework: terraform
          output_format: cli
          output_file_path: console

  codeql-checks:
    name: CodeQL Analysis
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
    strategy:
      matrix:
        language: [actions]
    uses: JackPlowman/reusable-workflows/.github/workflows/codeql-analysis.yml@bef975f562bde20717a9cf9b171beff6386e4973 # v2026.01.06.02
    with:
      language: ${{ matrix.language }}

  common-code-checks:
    name: Common Code Checks
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
      pull-requests: write # Allow the workflow to create and modify pull request comments
      security-events: write # Allow the workflow to upload analysis results
    uses: JackPlowman/reusable-workflows/.github/workflows/common-code-checks.yml@bef975f562bde20717a9cf9b171beff6386e4973 # v2026.01.06.02
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}

  tflint-scan:
    name: TFLint Scan
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - name: Set up TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        with:
          tflint_version: v0.60.0
      - name: TFLint Init
        run: just tflint-init
      - name: TFLint Check
        run: just tflint-check

  tofu-validate:
    name: Tofu Validate
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
      actions: read # Allow the workflow to read actions metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - name: Set up OpenTofu
        uses: opentofu/setup-opentofu@e95ccdd20623115bfd7d47df14a3250d6066a9d0 # v1.0.7
        with:
          tofu_version: 1.11.1
      - name: Tofu Init
        run: just tofu-init
      - name: Tofu Validate
        run: just tofu-validate
